@model CLINIC.Models.tbl_Parameters

@{
    ViewBag.Title = "Modificar Parámetro";
    Layout = null;
}

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            @using (Html.BeginForm("EditParameter", "Parameter", FormMethod.Post, new { @class = "form", @id = "frmEditParameter" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">         
                    <div class="col-md-12" hidden>
                        <div class="form-group">
                            <label for="Description">Id</label>
                            @Html.TextBoxFor(m => m.IdParameters, new { @class = "form-control", @id = "IdParameters", @type = "number", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Parámetro</label>
                            @Html.TextBoxFor(m => m.Parameter, new { @class = "form-control", @id = "Name", @type = "text", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Description">Valor</label>
                            @Html.TextBoxFor(m => m.ValueOfParameter, new { @class = "form-control", @id = "Description", @type = "text", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="center-align">
                            <button type="submit" class="btn btn-block btn-outline-success">Modificar Parámetro</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer text-danger">
            <p id="Message">@Html.ValidationSummary(true, "", new { @class = "text-title" })</p>
        </div>
    </div>
</div>