@model CLINIC.Models.ResetPasswordViewModel
@{
    Layout = null;
}

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/fontawesome")

<style>
    ul {
        list-style-type: none;
        padding: 0;
    }

    #Password:focus {
        border-color: #f89d64;
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f89d64;
    }

    #ConfirmPassword:focus {
        border-color: #f89d64;
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f89d64;
    }
</style>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5" style="max-width: 25rem; margin-top: 25rem; margin-bottom: 25rem; margin-left: 25rem; margin-left: 25rem;">
            <div class="card-header text-center">
                <h5>
                    <i class="fas fa-key"></i>
                    Cambio de contraseña
                </h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form", @id = "frmResetPassword" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="txtPassword">Contraseña nueva</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password", @type = "password", @required = "required", @focus = "true" })
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Confirmar</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword", @type = "password", @required = "required" })
                    </div>
                    <div class="form-group" hidden>
                        <label for="txtCorreo">Correo</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "Email", @type = "email", @Value = ViewBag.User })
                    </div>
                    <div class="form-actions">
                        <div class="center-align">
                            <button type="submit" class="btn btn-block btn-success" @*style="background-color: #07575B; color: white;"*@>Cambiar</button>
                        </div>
                    </div>
                }
            </div>
            <div class="card-footer text-center">
                <p style="color: darkorange">*Luego que cambie su contraseña será redirigido automáticamente a la pantalla de Login</p>
                <p id="Message">@Html.ValidationSummary(true, "", new { @class = "text-danger text-title" })</p>
            </div>
        </div>
    </div>
</body>

@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/bootstrap")

<script>
    $(document).ready(function () {
        //$("#Password").val("");
    });
</script>