
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    @Styles.Render("~/Content/Patients")
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="actionLinkBreadcrumb" href="/Home/Index">Sistema</a>
        </li>
        <li class="breadcrumb-item">
            <a class="actionLinkBreadcrumb" href="/Patients/Index">Clientes/Proveedores</a>
        </li>
        <li class="breadcrumb-item active">Index</li>
    </ol>
</nav>

<div class="d-flex justify-content-center">
    <h3>
        <i class="fas fa-users"></i>
        <b>Clientes/Proveedores</b>
    </h3>
</div>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users"></i>
        Clientes/Proveedores
    </div>
    <div class="card-body" style="font-size:small;">
        <div class="d-flex justify-content-end">
            <button class="btn btn-success" onclick="NewClientProv()">
                <i class="fas fa-user-plus"></i>
                Nuevo
            </button>

            <button class="btn btn-warning" disabled id="btnEdit" onclick="EditClientProv()">
                <i class="fas fa-edit"></i>
                Modificar
            </button>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered table-sm" id="tblClientProvs" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>NRC</th>
                        <th>NIT</th>
                        <th>DUI</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ClientProvs)
                    {
                        <tr>
                            <td>@item.IdClientProv</td>
                            <td>@item.ClientProvType</td>
                            <td>@item.ClienteProvName</td>
                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@item.Telephone</td>
                            <td>@item.NRC</td>
                            <td>@item.NIT</td>
                            <td>@item.DUI</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Actualizado @DateTime.Now **C:Clientes, P: Proveedores**
    </div>
</div>

<!-- Salto para que quede ordenado con el footer -->
<br />

<!-- Ventana modal para mantenimiento de los usuarios -->
<div class="modal fade" id="modalClientProv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h4 id="modalHeader" class="text-center" style="margin-bottom: 0px;"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ClientProvType">Tipo</label>
                                <select class="form-control" id="ClientProvType">
                                    <option value="">Selecione..</option>
                                    <option value="C">Cliente</option>
                                    <option value="P">Proveedor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ClienteProvName">Nombre</label>
                                <input type="text" class="form-control" id="ClienteProvName" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Address">Dirección</label>
                                <input type="text" class="form-control" id="Address" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Email">Correo</label>
                                <input type="email" class="form-control" id="Email" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Telephone">Telefono</label>
                                <input type="text" class="form-control" id="Telephone" />
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="NRC">NRC</label>
                                <input type="text" class="form-control" id="NRC" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="NIT">NIT</label>
                                <input type="text" class="form-control" id="NIT" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="DUI">DUI</label>
                                <input type="text" class="form-control" id="DUI" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Status">Estado</label>
                                <select class="form-control" id="Status">
                                    <option value="">Selecione..</option>
                                    <option value="A">ACTIVO</option>
                                    <option value="I">INACTIVO</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="Save">Guardar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update">Modificar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/ClientProv")
}




