
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/Patients")
    <link href="~/Resources/js/plugins/bootstrap-datetimerpicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Resources/plugins/jquery-easyui-1.9.4/themes/material/easyui.css" rel="stylesheet" />
<style>
      #modalOrderDataPrint {
          background-color: rgb(255, 255, 255, 0.5) !important;
      }

      /*.modal {
      opacity: 0.2;
    }*/
</style>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="actionLinkBreadcrumb" href="/Home/Index">Sistema</a>
        </li>
        <li class="breadcrumb-item">
            <a class="actionLinkBreadcrumb" href="/Billing/NewSalesInvoices">Nueva Orden</a>
        </li>
        <li class="breadcrumb-item active">Index</li>
    </ol>
</nav>

<div class="d-flex justify-content-center">
    <h3>
        <i class="fas fa-users"></i>
        <b>Nueva Orden</b>
    </h3>
</div>



<div class="card">
    <div class="card-header">
        <i class="fas fa-users"></i>
        Ordenes
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <button class="btn btn-success" onclick="NewOrden()">
                <i class="fas fa-user-plus"></i>
                Nuevo
            </button>

            <button class="btn btn-warning" disabled id="btnEdit" onclick="EditOrden()">
                <i class="fas fa-edit"></i>
                Modificar
            </button>
            
            <button class="btn btn-danger" disabled id="Close">
                <i class="fas fa-arrow-circle-down"></i>
                Cerrar
            </button>

            <button class="btn btn-danger" disabled id="Delete">
                <i class="fas fa-trash"></i>
                Eliminar
            </button>
            <button class="btn btn-primary" disabled id="Download">
                <i class="fas fa-download"></i>
                Descargar
            </button>
          
        </div>
        <br />
       


        <div class="table-responsive">
            <table class="table table-bordered table-sm" id="tblOrders" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Cliente</th>
                        <th>Fecha Ongreso</th>
                        <th hidden>DateTest</th>
                        <th hidden>DateSent</th>
                        <th hidden>DatePromis</th>
                        <th hidden>Description</th>
                        <th hidden>Attachment</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Orders)
                    {
                        <tr>
                            <td>@item.IdComentsOrder</td>
                            <td>@item.CardCode</td>
                            <td>@item.CardName</td>
                            <td>@item.DateIn.ToString("yyyy-MM-dd")</td>
                            <td hidden>@item.DateTest.ToString("yyyy-MM-dd")</td>
                            <td hidden>@item.DateSent.ToString("yyyy-MM-dd")</td>
                            <td hidden>@item.DatePromis.ToString("yyyy-MM-dd")</td>
                            <td hidden>@item.Description</td>
                            <td hidden>@item.Attachment</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

       
    </div>
    <div class="card-footer small text-muted">
        Actualizado @DateTime.Now
        <br />
        ***Estado: 0=Abierta, 1=Cerrada***
    </div>
</div>



<div class="modal fade" id="modalOrderData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalContentOrderData" class="text-center" style="margin-bottom: 0px;"></h4>
            </div>
            <div class="modal-body" id="modalBody" >
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="NumOrder">No.Orden</label>
                            <input class="form-control" id="IdComentsOrder" disabled />
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input" id="form_control_1">
                            <label for="cliente">Cliente</label>
                            <select class=" form-control" name="CardCode" id="CardCode" style="width: 100%; height:38px;">
                                <option value="" selected>Seleccione</option>
                                @foreach (var item in ViewBag.Clients)
                                {
                                    <option value="@item.IdClientProv">@item.IdClientProv - @item.ClienteProvName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="DateStart">Fecha de Ingreso</label>
                        <div id="DateStart" class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="@ViewBag.Fecha" id="DateIn" onchange="" readonly>
                            <a class="input-group-addon btn btn-info"><i class="fas fa-calendar text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="DateInTest">Fecha de Prueba</label>
                        <div id="DateInTest" class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="@ViewBag.Fecha" id="DateTest" onchange="" readonly>
                            <a class="input-group-addon btn btn-info"><i class="fas fa-calendar text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="DateInSent">Fecha de Entrega</label>
                        <div id="DateInSent" class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="@ViewBag.Fecha" id="DateSent" onchange="" readonly>
                            <a class="input-group-addon btn btn-info"><i class="fas fa-calendar text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="DateInPromis">Fecha Prometida</label>
                        <div id="DateInPromis" class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="@ViewBag.Fecha" id="DatePromis" onchange="" readonly>
                            <a class="input-group-addon btn btn-info"><i class="fas fa-calendar text-white"></i></a>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ItemName">Descripción del Trabajo</label>
                            <textarea class="form-control" id="Description"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ItemName">Elementos Adjuntos</label>
                            <textarea class="form-control" id="Attachment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="Save">Guardar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update">Modificar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalOrderDataPrint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalContentOrderPrint" class="text-center" style="margin-bottom: 0px;"></h4>
            </div>
            <div class="modal-body d-flex justify-content-center" id="modalBody2">
            </div>
        </div>
    </div>
</div>





@section Scripts{
    @Scripts.Render("~/Scripts/Orders")
}